body {

    margin: 0;
  
    font-family: sans-serif;
  
  }
  
  
  .container {
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    background-color: #f2f2f2;
  
    padding: 20px;
  
  }
  
  
  .menu {
  
    display: flex;
  
    justify-content: space-between;
  
    width: 800px;
  
    background-color: lightgray;
  
    padding: 10px;
  
    border-radius: 5px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .pealeht {
  
    justify-content: left;
  
    align-items: left;
  
    background-color: #f2f2f2;
  
    padding: 20px;
    display: flex;
    justify-content: space-between;
  
  
    border-radius: 5px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item {
  
    margin-right: 20px;
  
    text-decoration: none;
  
    color: black;
  
    font-size: 18px;
  
    font-weight: bold;
  
  }

  .menu-item-active {
    margin-right: 20px;
  
    color: black;
  
    font-size: 22px;
  
    font-weight: bold; 

  }

  
  
  .menu-item:last-child {
  
    margin-right: 0;
  
  }
  
  
  .menu-item:hover {
  
    text-decoration: underline;
    
  }
  .menu-item:active{
    margin-right: 20px;
  
    color: black;
  
    font-size: 22px;
  
    font-weight: bold;
  }

  h1{
    margin-left: 10px;
    margin-top: 10px;
  }
  .content {

    max-width: 800px; /* Maximum width for content */

    margin: 20px auto; /* Center the content */

    padding: 20px;

    background-color: #ffffff; /* Background color for content area */

    border: 1px solid #ccc; /* Optional border */

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */

}