body {

    margin: 0;
  
    font-family: sans-serif;

    background: linear-gradient(to bottom, #FFF0F5 35%, #DDA0DD 100%)
  
  }
  
  
  .container {
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    background-color: #FFF0F5;
  
    padding: 20px;
  
  }
  
  /*kujundab men端端d nii, et  elemendid oleksid 端ksteise korval ja d端naamilised*/
  .menu {
  
    display: flex;
  
    justify-content: space-between;
  
    width: 800px;
  
    background-color: #D8BFD8;
  
    padding: 10px;
  
    border-radius: 5px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .pealeht {
  
    justify-content: left;
  
    align-items: left;
  
    background-color: #FFF0F5;
  
    padding: 20px;
    display: flex;
    justify-content: space-between;
  
  
    border-radius: 5px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item {
  
    margin-right: 20px;
  
    text-decoration: none;
  
    color: black;
  
    font-size: 18px;
  
    font-weight: bold;
  
  }

  .menu-item-active {
    margin-right: 20px;
  
    color: black;
  
    font-size: 22px;
  
    font-weight: bold; 

  }

  
  
  .menu-item:last-child {
  
    margin-right: 0;
  
  }
  
  
  .menu-item:hover {
  
    text-decoration: underline;
    
  }
  .menu-item:active{
    margin-right: 20px;
  
    color: black;
  
    font-size: 22px;
  
    font-weight: bold;
  }

  h1{
    margin-left: 10px;
    margin-top: 10px;
  }

  /*tekitab sisu jaoks teksikasti kus iga lehe sisu paikneb*/
  .content {

    max-width: 800px; 

    margin: 20px auto; /* Paneb contenti keskele */

    padding: 20px;

    background-color: #ffffff;

    border: 1px solid #ccc; /* tekstiboksi piire */

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* tekstiboksi vari */

}